body {
    font-family: sans-serif;
    padding: 15px;
    background: #f5f5f5;
}

h1,
h2 {
    text-align: center;
}

input,
textarea,
button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
}

.step-box {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#saveButton {
    background: #4caf50;
    color: white;
}

#randomButton {
    background: #2196f3;
    color: white;
}

.recipe-item {
    background: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.delete-btn {
    margin-top: 5px;
    background: crimson;
    color: white;
}

#result {
    background: white;
    padding: 15px;
    border-radius: 10px;
}